{% extends "layout.html.twig" %}

{% block content %}

<div class="row">
    <div class="center">
        <div id="map" style="display: none "></div>
        <a href="{{ urlFor('index', {'action' : 'series'}) }}" class="btn waves-effect waves-light">Séries  <i class="material-icons right">edit</i></a>
        <a href="{{ urlFor('index', {'action' : 'photos'}) }}" class="btn waves-effect waves-light">Photos  <i class="material-icons right">edit</i></a>

        <a href="{{ urlFor('index', {'action' : 'deconnection'}) }}" class="btn waves-effect red waves-light">Déconnexion  <i class="material-icons right">clear</i></a>

        <div class="carousel">
            {% for photo in photos %}
                <a class="carousel-item"><img src="../front/photos/{{ photo.uri }}"></a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}