{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <form method="post" name="form" action="{{ urlFor('indexPost', {'action' : 'connection'}) }}">
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">dialpad</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="center">
                        <button class="btn waves-effect waves-light" type="submit" name="form">Valider
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="center">

                    <!-- Modal Trigger -->
                    <a class="modal-trigger waves-effect waves-light btn" href="#inscription">Inscription
                        <i class="material-icons right">send</i>
                    </a>

                    <!-- Modal Structure -->
                    <div id="inscription" class="modal modal-footer">
                        <div class="row">
                            <form class="col s12" method="post" name="formInscription" action="{{ urlFor('indexPost', {'action' : 'inscription'}) }}">
                                <h3>Sign up</h3>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="last_name" name="last_name" type="text" class="validate">
                                        <label for="last_name">Nom</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input id="first_name" name="first_name"  type="text" class="validate">
                                        <label for="first_name">Prénom</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="email" name="email" type="email" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="password" name="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="confirmPassword" name="confirmPassword" type="password" class="validate">
                                        <label for="confirmPassword">Confirm password</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="modal-footer">
                                        <button class="btn waves-effect waves-light" id="signIn" type="submit" name="formInscription">Valider
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="content/inscription.js"></script>
{% endblock %}