<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Photolocate</title>

    <link rel="stylesheet" href="content/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="content/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="content/bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="content/style.css">
</head>
<body>
    <header>
        {% include "header.html.twig" %}
    </header>
    <br/>
    <br/>
    <br/>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

    <script src="content/jquery-2.2.0.min.js"></script>
    <script src="content/materialize/js/materialize.min.js"></script>
    <script src="content/leaflet.js"></script>
    <script src="content/bower_components/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.carousel').carousel();
        });
    </script>
    {% block script %}
    {% endblock %}
</body>
</html>