{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <form class="col s12" action="{{ urlFor('indexPost', {'action' : 'addPhotos'}) }}" method="post" enctype="multipart/form-data">
            <div id="map" style="height: 400px;"></div>
            <div class="row">
                <div class="input-field">
                    <div class="row">
                        <div class="center">
                            <select name="serie" id="selectValue" class="col s7 l4 offset-s2 offset-l4">
                                <option id="serieId" value="0" selected="selected">Série</option>
                                {% for serie in series %}
                                    <option value="{{ serie.id }}" id="{{ loop.index0 }}">{{ serie.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s7 l4 offset-s2 offset-l4">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input type="file" name="file" value="" id="file"/>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col s4 l2 offset-s2 offset-l4"> Latitude : <input id="latitude" name="latitude" type="text"></div>
                        <div class="col s4 l2"> Longitude : <input id="longitude" name="longitude" type="text"></div>
                    </div>
                </div>

                <br>
            </div>
            <div class="row">
                <div class="center">
                    <button class="btn waves-effect waves-light" id="photo" type="submit" name="action">Ajouter <i
                                class="material-icons right">send</i></button>
                    <a href="{{ urlFor('index', {'action' : 'admin'}) }}" class="btn waves-effect waves-light red">Retour </a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="content/js.js"></script>
{% endblock %}