{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="center">
            <div id="map" style="height: 400px"></div>
            <br>
            <form class="col s12" action="{{ urlFor('indexPost', {'action' : 'addSeries'}) }}" method="post">
                <div class="row">
                    <div class="input-field col s2 l1 offset-s1 offset-l4">
                        <input id="zoom" type="number" class="validate" name="zoom">
                        <label for="zoom">Zoom</label>
                    </div>
                    <div class="input-field col s8 l3 ">
                        <input id="newSerie" type="text" class="validate" name="newSerie">
                        <label for="newSerie">Nom de la nouvelle série</label>
                    </div>
                    <a class="btn waves-effect waves-light localiser" id="submit" type="submit">Localiser</a>
                </div>
                <br>
                <div class="row center">
                    <div class="col s4 l2 offset-s2 offset-l4"> Latitude : <input id="latitude" name="latitude"
                                                                                  type="text"></div>
                    <div class="col s4 l2"> Longitude : <input id="longitude" name="longitude" type="text"></div>
                </div>
                <div class="row ">
                    <button class="btn waves-effect waves-light" id="serie" type="submit" name="action">Ajouter <i
                                class="material-icons right">send</i></button>
                    <a href="{{ urlFor('index', {'action' : 'admin'}) }}" class="btn waves-effect waves-light red">Retour </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="content/map.js"></script>
{% endblock %}