<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='utf-8'>
    <title>PhotoLocate</title>
    <script src='lib/jquery-2.2.0.min.js'></script>
    <script src="lib/leaflet.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-leaflet-directive.min.js"></script>
    <script src="lib/angular-materialize.js"></script>

    <script src="app/app.js"></script>

    <script src="app/game/game.js"></script>
    <script src="app/game/game_controller.js"></script>

    <script src="app/serie/serie_directive.js"></script>
    <script src="app/serie/serie.js"></script>
    <script src="app/serie/serie_controller.js"></script>
    <script src="app/serie/serie_current.js"></script>

    <script src="app/photo/photo.js"></script>
    <script src="app/photo/photo_controller.js"></script>
    <script src="app/photo/photo_directive.js"></script>

    <script src="lib/materialize/js/materialize.min.js"></script>
    <link rel="stylesheet" href="lib/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="lib/leaflet.css"/>
    <link rel="stylesheet" href="photolocate.css">

</head>
<body ng-app="locate">
<div id="MainWrap" ng-controller="GameController" class="row">
    <div class="row">
        <div class="center title"><h3>Photo<i>Locate</i></h3></div>
    </div>

    <div class="row" ng-hide="hide_map">
        <div class="col s3 offset-s4">
            <a ng-click="return()" class="btn">RETURN<i class="material-icons right">replay</i></a>
        </div>
        <div class="col s3 pause">
            <a ng-click="pause()" class="btn">PAUSE<i class="material-icons right">pause</i></a>
        </div>

    </div>

    <!--Progress bar-->
    <div class="progress col s6 offset-s3" ng-hide="hide_map">
        <div class="determinate {{interval.value * 10 | timeOver}}" style="width: {{interval.value * 10}}%"></div>
    </div>

    <!-- Modal Structure -->
    <div id="modal0" class="modal">
        <div class="modal-content">
            <div class="center">
                <h4>Start Again ?</h4>
            </div>

            <div class="card-panel red accent-2 white-text center">The page will be reload, your data will not be saved
                !
            </div>
            <p></p>
        </div>
        <div class="modal-footer">
            <a href="#!" ng-click="restart()"
               class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            <a href="#!" ng-click="continue()" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <div class="center">
                <h4>PAUSE<i>Y</i></h4>
            </div>

            <div class="card-panel  blue lighten-1 white-text center">The game is paused</div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">RESUME</a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="center">SCORE</h4>
            <table class="highlight centered responsive-table">
                <thead>
                <tr>
                    <th data-field="id">Photo</th>
                    <th data-field="id">Round score</th>
                    <th data-field="name">Total score</th>
                    <th data-field="name">Distance</th>
                    <th data-field="name">Time</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ photoNum }}/{{ photoNumTotal }}</td>
                        <td>{{ points }}</td>
                        <td>{{ scoreFinal }}</td>
                        <td>{{ distance }} m</td>
                        <td>{{ time }} secondes</td>
                    </tr>
                </tbody>
            </table>
            <div id="map2" class="col s5 offset-s1" ng-hide="hide_map">
                <leaflet id="leaf2" lf-center="Center2" markers="markersResponse" defaults="defaults" height="200px" width="100%"></leaflet>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" id="modalbtn" class="modal-action modal-close btn waves-effect waves-light">Next Photo !
                <i class="material-icons right">send</i></a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="row">
            <div class="modal-content">
                <div class="center">
                    <h4>Final score : {{ scoreFinal }}</h4>
                    <br>
                    <hr>
                    <br>
                    <h4>High Score <a class="small material-icons" id="poll2">poll</a></h4>
                </div>
                <br>

                <div class="tableScore">
                    <table class="highlight striped centered responsive-table">
                        <thead>
                        <tr>
                            <th data-field="id">Player</th>
                            <th data-field="name">Score</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="scores in best | orderBy: '-scores.score' ">
                            <td>{{ scores.player }}</td>
                            <td>{{ scores.score }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn waves-effect waves-light">Retry !
                <i class="material-icons right">autorenew</i>
            </a>
        </div>
    </div>

    <div class="center" ng-show="hide_map">
        <a class="modal-trigger waves-effect waves-light btn" ng-click="display_finalBestScore()" href="#highscoreModal">High
            Score
            <i class="material-icons right">equalizer</i>
        </a>
    </div>

    <div id="highscoreModal" class="modal">
        <div class="center">
            <div class="row">
                <div class="modal-content">
                    <h4>High Score <a class="small material-icons" id="poll">poll</a></h4>
                    <br>

                    <div class="tableScore2">
                        <table class="highlight striped centered responsive-table">
                            <thead>
                            <tr>
                                <th data-field="id">Player</th>
                                <th data-field="name">Score</th>
                                <th data-field="name">Game</th>
                                <th data-field="name">Date</th>
                                <th data-field="name">Difficulty</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="scores in best | orderBy: '-scores.score' ">
                                <td>{{ scores.player }}</td>
                                <td>{{ scores.score }}</td>
                                <td>{{ scores.label }}</td>
                                <td>{{ scores.date }}</td>
                                <td>{{ scores.difficulty }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close btn waves-effect waves-light">Close
                            <i class="material-icons right">clear</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-controller="PhotoController">
</div>

<div class="row" ng-controller="SerieController">
    <div class="col s12">
        <div class="row" ng-show="hide_map">
            <serie/>
        </div>
        <div class="row">
            <div id="map" class="col s5 offset-s1" ng-hide="hide_map">
                <leaflet id="leaf1" lf-center="Center" markers="markers" defaults="defaults" height="480px" width="100%"></leaflet>
            </div>
            <div id="photo" class="col s5" ng-hide="hide_map">
            </div>
        </div>

    </div>
</div>
</body>
</html>
